* {
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
  margin: 0px;
}

header  {
  width: 100%;
  height: 90px;
  background: white;
  box-shadow: 0px 2px 20px black;
  top: 18px;
  z-index: 100;
  text-align: center;
}

.title {
  font-size: 1.7em;
  margin-top: 10px;
}

.header-container {
  width: 270px;
  height: 100%;
  margin: auto;
}

.header-title {
  width: 174px;
  height: 100%;
  display: inline-block;
}

.header-logo {
  width: 96px;
  height: 100%;
  display: inline-block;
  float: right;
}

.logo {
  height: 70px;
  width: 70px;
}

.palette-container {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 45vh;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.palette-color-container {
  display: flex;
  justify-content: center;
  width: 70%;
  transition: background 1s ease;
}

.palette-color-container:hover {
  opacity: .95;
}

.lock {
  align-self: flex-end;
  height: 3em;
  width: 3em;
  margin: 0 4px 4px 0;
}

.hex-number {
  background-color: #DCE9F5;
  border-radius: 5px;
  font-size: .8em;
  font-weight: 400;
  margin-bottom: 4px;
  opacity: .7;
  padding: 3px 5px 0 5px;
  text-align: center;
}

.project-controls {
  display: flex;
  margin-left: 10px;
  width: 50vw;
}

.generate-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.generate-palette-button {
  align-self: center;
  background-color: #53E883;
  border-radius: 3px;
  box-shadow: 0 0 20px #2986E5;
  height: 30px;
  width: 30%;
  margin: 0 auto 15px auto;
  padding-top: 5px;
}

.generate-palette-button:hover {
  background-color: #FFEF6E;
}

.project-input,
.palette-input {
  border-radius: 4px;
  height: 30px;
  width: 65%;
  margin: 0 -5px 30px 0;
}

.create-project-button,
.create-palette-button {
  background-color: #53E883;
  box-shadow: 0 0 10px #2986E5;
  height: 30px;
  width: 85px;
  padding-top: 5px;
}

.create-project-button:hover,
.create-palette-button:hover {
  background-color: #FFEF6E;
}

.left-side {
  width: 50vw;
}

.right-side {
  width: 50vw;
}

.palette-template h1 {
  font-size: 20px;
  margin: 10px auto 10px auto;
  text-align: center;
}

.swatch-container {
  flex-direction: row;
  width: 50%;
}

.dynamic-swatch-container {
  display: flex;
  flex-direction: column;
}

.color-swatch {
  height: 2em;
  width: 20%;
}

.colors {
  width: 100%;
  display: flex;
}

.swatch-title {
  font-size: 20px;
}

.delete-button {
  height: 3em;
  width: 20%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
}

.create-project-title {
  font-size: 20px;
  text-align: center;
}

.project-title,
.add-project-title,
.delete-project-title {
  margin: 10px;
}

.drop-select {
  display: flex;
  flex-direction: column;
  margin-left: 10px
}

.left-border {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#project-selector,
#delete-project-selector {
  margin-bottom: 5px;
  width: 65%;
}

.delete-project-dropdown {

}

aside {
  display: flex;
  flex-wrap: wrap;
}
